/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
img {
  display: block;
  max-width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font loading */
/* System font stack */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNS-Medium"), local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

/* Monsterrat */
@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Thin.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* PlayfairDisplay */

@font-face {
  font-family: 'Playfair Display';
  src: url(./fonts/PlayfairDisplay-Medium.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(./fonts/PlayfairDisplay-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(./fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(./fonts/PlayfairDisplay-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Material icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root {

  --black: #0000;
  --grey1: #3333;
  --grey2: #4f4f4f;
  --grey3: #829292;
  --grey4: #bdbdbd;

  --orange: #f2994a;

  --font-size-800: clamp(1.5rem, 1rem + 2vw , 3rem); /* 24px - 48px */
  --font-size-600: clamp(1.125rem, 0.6rem + 2vw, 1.5rem); /* 18px - 24px */
  --font-size-500: clamp(0.875rem, 0.5rem + 2vw, 0.875rem) /* 14px - 16px */;
  --font-size-400: clamp(0.75rem, 0.5rem + 2vw, 0.875rem) /* 12px - 14px */;
  --font-size-300: clamp(0.625rem, 0.3rem + 2vw, 0.875rem) /* 10px -  14px*/;
  --font-size-200: clamp(0.5rem, 0.3rem + 2vw, 0.625rem) /* 8px - 10px */
}

/* utillity classes */
/* fonts */
.ff-playfair-normal {
  font-family: 'Playfair Display';
  font-weight: normal;
}
.ff-playfair-300 {
  font-family: 'Playfair Display';
  font-weight: 300;
}
.ff-playfair-bold {
  font-family: 'Playfair Display';
  font-weight: bold;
}
.ff-playfair-italic {
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: italic;
}
.ff-monsterrat-200 {
  font-family: 'Monsterrat';
  font-weight: 200;
}
.ff-monsterrat-300 {
  font-family: 'Monsterrat';
  font-weight: 300;
}
.ff-monsterrat-regular {
  font-family: 'Monsterrat';
  font-weight: normal;
}
.ff-monsterrat-bold {
  font-family: 'Monsterrat';
  font-weight: bold;
}
.ff-monsterrat-italic {
  font-family: 'Monsterrat';
  font-weight: normal;
  font-style: italic;
}

/* Color */

.fc-black { color: var(--black)};
.fc-grey-dark { color: var(--grey1)};
.fc-grey-brown { color: var(--grey2)};
.fc-grey3 { color: var(--grey3)};
.fc-grey4 { color: var(--grey4)}
.bg-orange { background-color: var(--orange);}
.fc-orange { color: var(--orange);}

/* Font-size */
.fs-800 { font-size: var(--font-size-800);} /* heading */
.fs-600 { font-size: var(--font-size-600);} /* 18px - 24px */
.fs-500 { font-size: var(--font-size-500); } /* 14px - 16px */
.fs-400 { font-size: var(--font-size-400); } /* 12px */
.fs-300 { font-size: var(--font-size-300); }
.fs-200 { font-size: var(--font-size-200); }
/* wrapper class */
.wrapper {
  width: 90vw;
  width: clamp(14rem, 90vw, 70rem);
  margin-inline: auto;
 
  position: relative;
}
.flex {
  display: flex;
  
}
.flex-gap {
  gap: 0.5em;
}
.flex-space-b {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-container > div {
  display: flex;
}

.wrapper * + * {
  margin-bottom: .5em;
}
h1,
h2,
h3 {
  margin-top: 1.5em;
  margin-bottom: 1em;
} 
header * + * {
  margin-top: 1.5em;
  
}

/* Style sections */
.time-container {
  margin-left: 0.4em;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

.cheeseCakeImg {
  border-radius: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ingredients-section {
  line-height: 25px;
}

.instruction-section h2 {
  font-size: 1.5rem;
}
.instruction-section > div {
  margin-bottom: 1em;
}

.instruction-section p {
  font-family: 'Monsterrat';
  font-weight: normal;
  line-height: 24px;
   
}

.instruction_count {
  background-color: var(--orange);
  color: white;
  font-size: 1.5rem;
  border-radius: 6px;
  height: 36px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  
}

@media (min-width: 1440px) {

  .time-section {
    position: absolute;
    left: 90%;

  }
  .section-flex {
    flex-direction: column;
  }
}